# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# JetBrains IntelliJ files
.idea

# vi swap file
.swp

# SDK man auto set java version for this project
.sdkmanrc
